body{
    /* background:linear-gradient(45deg ,rgba(244, 0, 0, 0.422),rgba(0, 4, 255, 0.34)); */
    align-content: center;
}
.container{
    width: 50%;
}
a{
    text-decoration: none;
}
@media screen and (min-width:300px) and (max-width:900px){
    .container{
        width: 100%;
    }
}